body {
    font-family: Arial, sans-serif;
    background: rgb(200, 214, 188);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: -1; 
}

form {
    background-color: #c8dfb9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: fixed;
    z-index: 1; 
}

.form-group {
    margin-bottom: 15px;
    z-index: 1; 
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #bddfb1;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* 鼠标悬停变色 */
button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 5px;
}


.name-font {
    position: fixed;
    text-decoration: none;
    font-family: 'Times New Roman', serif; 
    font-size: 3rem;
    background: linear-gradient(45deg, #98c8e1, #66c659); /* 渐变色 */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 30px;
    left: 20px;
    text-align: left;
    z-index: 2; 
}

